@font-face {
  font-family: "iconfont"; /* Project id 2530661 */
  src: url('http://at.alicdn.com/t/font_2530661_24s6kdf0r19.woff2?t=1620377972072') format('woff2'),
  url('http://at.alicdn.com/t/font_2530661_24s6kdf0r19.woff?t=1620377972072') format('woff'),
  url('http://at.alicdn.com/t/font_2530661_24s6kdf0r19.ttf?t=1620377972072') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-link:before {
  content: "\e60c";
}

.icon-github:before {
  content: "\e7ab";
}

.icon-arrow-up:before {
  content: "\e619";
}

.icon-shouye:before {
  content: "\e6e2";
}

.icon-close:before {
  content: "\e640";
}

.icon-icon-test12:before {
  content: "\e642";
}

.icon-icon-test20:before {
  content: "\e64b";
}

.icon-icon-test27:before {
  content: "\e65c";
}

.icon-icon-test29:before {
  content: "\e65e";
}

.icon-ditu:before {
  content: "\e8b1";
}

.icon-yuzhijineng:before {
  content: "\e62c";
}

.icon-yingyong4:before {
  content: "\e660";
}

.icon-gongzuotai:before {
  content: "\e60b";
}

.icon-youxiang:before {
  content: "\e609";
}

.icon-erweima:before {
  content: "\e98d";
}
